*{
    font-family: sans-serif;
}
.base{
    background-image: url(/public/img/fondo.jpg);
    background-repeat: repeat;
    background-size: 450px;
    margin: 0;
}
.cabeza{
    background-color: rgb(7, 51, 65);
    border-bottom: 5px solid rgb(4, 29, 37);
    position: fixed;
    z-index: 1;
    height: 40px;
    width: 100%;
}
.cabeza input {
    border: 0;
    background: none;
    display: block;
    text-align: left;
    border: 2px solid rgb(32, 19, 11);
    margin-top: 2px;
    padding: 5px 10px;
    width: 300px;
    transition: 0.25s;
}
form.login{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: rgb(4, 29, 37);
    font-weight: 600;
}
form.login h6{
    background-color: red;
    color: white;
    width: 204px;
    text-align: center;
    margin: 20px auto;
    padding: 20px 10px;
}
form.login input[type="text"],form.login input[type="password"],form.login input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid rgb(4, 29, 37);
    padding: 5px 10px;
    width: 200px;
    transition: 0.25s;
}

form.login input[type = "submit"]{
    border: 0;
    background-color: rgb(4, 29, 37);
    color: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(4, 29, 37);
    padding: 5px 10px;
    width: 224px;
    transition: 0.25s;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
}
form.login input[type = "submit"]:hover{
    background: none;
    color:rgb(4, 29, 37);
}
.cabeza span{
    color: rgb(32, 111, 139);
    margin-top: 5px;
    font-size: 22px;

}
div.realbody{
    padding-top: 60px;
}
div.barra{
    height: 28px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    padding-left: 4px;
    background-color: rgb(4, 29, 37);
}
.lbl label, .lbl input{
    display: block;
    margin-bottom: 4px;
}
.lbl input[type = "submit"]{
    display: inline-block;
    width: 40%;
    margin: 4px;
    background-color: rgb(32, 19, 11);
    border: 2px solid rgb(4, 29, 37);
    padding: 5px 10px;
    color: white;
}
.lbl input[type = "textarea"],.lbl input[type = "text"]{
    width: 90%;
}
.lbl input[type = "submit"]:hover{
    background: none;
    color:rgb(4, 29, 37);
}
.lbla{
    margin: 20px, 5px;
}
.mainBox{
    background-color: white;
    border-top: 10px solid rgb(4, 29, 37);
    border-bottom: 10px solid rgb(4, 29, 37);
    border-radius: 10px;
    margin: auto;
}
.mainBox h1{
    text-align: center;
}
.mbfixed{
    width: 90%;
    max-width: 1000px;
}
.mbsized{
    width: 500px;
}
.mTitle{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}
.mTitle h1{
    color: rgb(4, 29, 37);
    text-align: center;
}
.prestbox{
    position: relative;
    overflow: hidden;
}
.prestboxc{
    width: 100%;
}
.prestboxc img{
    width: 100%;
    height: auto;
}
.prestbox p{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 40%;
    font-size: 3vw;
    font-style: oblique;
    color: white;
    text-shadow: 2px 2px 8px black;
    text-align: center;
}
.prestlink{
    display: block;
    width: 94%;
    margin: 4px;
    background-color: rgb(4, 29, 37);
    border: 2px solid rgb(4, 29, 37);
    padding: 5px 10px;
    color: white;
}
.prestlink:hover{
    background-color: white;
    color: rgb(4, 29, 37);
}
.prestbox a{
    position: absolute;
    top: 48%;
    right: 5%;
    font-size: 2vw;
    transition: 0.5s;
    border: 0.2vw solid white;
    text-decoration: none;
    padding: 0.5vw;
    box-shadow: 0px 0px 10px black;
    text-shadow: 0px 0px 10px black;
}
.prestbox a:link, .prestbox a:visited{
    color: white;
}
.prestbox a:hover , .prestbox a:active{
    background-color: white;
    color: rgb(4, 29, 37);
}
.fltL{
    float: left;
}
.fltR{
    float: right;
}
.m5{
    margin: 5px;
}
.p10{
    padding: 10px;
}
a.brw:link, a.brw:visited{
    color: rgb(32, 111, 139);
}
a.brw:hover, a.brw:active{
    color: rgb(255, 255, 255);
}
footer{
    padding: 10px 40px;
    color: white;
    background-color: rgb(49, 29, 17);
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1vw;
}
.big{
    width: 100%;
    height: auto;
}