extends Layout/head.pug
block content
    .mainBox.mbfixed
        .mTitle
            h1 ¡Bienvenido a Recetas Zacary!
        .prestbox
            .prestboxc
                img(src="/img/vegi.jpg", alt="")
            p "Preparar tus comidas favoritas nunca fue tan facil."
            a(href="/recetas/indice/1") ¡Ver todas las Recetas!
block ftr
    footer ©2018 Zahyr Lanz, Carlis Rondon. Todos los derechos reservados.